.contactContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #4a3a3c;
    border-radius: 12px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    width: 100%;
}

.contactInfo {
    flex-grow: 1;
    padding-right: 15px;
}

.userInfo,
.phoneInfo {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    color: #f1f1f1;
    /* Светлый текст */
    font-size: 22px;
    font-weight: 500;
    /* Уменьшено для легкости */
    filter: drop-shadow(1px 1px 6px rgba(0, 0, 0, 0.4));
    /* Более мягкая тень */
    text-align: center;
    padding: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.userIcon,
.phoneIcon {
    margin-right: 8px;
    color: #9e7e7d;
    /* Светло-серый для иконок */
}

.deleteButton {
    background-color: #e53935;
    /* Более яркий красный для кнопки */
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    text-transform: uppercase;
}

.deleteButton:hover {
    background-color: #c62828;
    /* Темно-красный при наведении */
}

.deleteButton:focus {
    outline: none;
    /* Убираем контур */
}